<form {{action 'save' on="submit"}}>
      <div class="form-group">
        <label>Title</label>
        {{input type="text" value=model.title class="form-control" placeholder="Enter title"}}
      </div>
      <div class="form-group">
        <label>Place title</label>
        {{input type="text" class="form-control" value=model.place_title placeholder="Place title"}}
      </div>
      <div class="form-group">
        <label>Find on</label>
        {{bootstrap-datepicker value=model.find_on autoclose=true placeholder='Find on' class="form-control"}}
      </div>
      <div class="form-group">
        <label>Find by</label>
        {{input type="text" class="form-control" value=model.find_by placeholder="Find by"}}
      </div>
      <div class="form-group">
          {{#each image in model.item_images}}
                <div class="media">
                      <div class="media-left">
                          {{#if image.thumb_url}}
                            <img class="media-object" width="50px" height="100px" {{bind-attr src=image.thumb_url}}/>
                          {{/if}}
                      </div>
                </div>
          {{/each}}
        <label for="exampleInputFile">File input</label>
        {{#drag-and-drop action="createImage" class="item upload-btn" loading=isImageCreating}}
            <h6>Upload photos</h6>
            <a href="#" {{action 'openFileWindow' on='click'}}>browse</a>
            <input type="file" style="display:none;"{{ action 'selectFile' on='change' }}/>
        {{/drag-and-drop}}
        <p class="help-block">use simpe drang and  drop.</p>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
